.env
.env.*
!.env.example
.DS_Store
Thumbs.db
/.vscode/
/vendor/
/node_modules/
/storage/**
!/storage/message_photos/
!/storage/message_photos/.htaccess
*.log
*.pem
*.key
*.ppk
*.sql.gz
*.sql.zip
*.dump
*.sqlite*
*.zip
*.bak
*.old
/backup*/
/dist/